body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.bootBtn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  text-align: center;
  display: block;
  margin: 0 auto;
} 

.bootBtn:hover {
  background-color: transparent;
  color: black;
  border: 2px solid grey;
  text-align: center;
  display: block;
  margin: 0 auto;
} 

.bootBtn:active {
  background-color: transparent;
  color: black;
  border: 2px solid grey;
  text-align: center;
  display: block;
  margin: 0 auto;
} 

/*POST CSS*/
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  max-width: 45%;
  margin: 0 auto;
}
.posts-container {
  margin-bottom: 6rem;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.username {
  text-align: center;
}
.post-picture{
  max-width: 5rem;
  border-radius: 50%;
}
.pictureBtn{
  border-radius: 50%;
  background-color: transparent;
  border: 0px
}
.pictureBtn:hover{
  border-radius: 50%;
  background-color: transparent;
  opacity: 50%;
  border: 0px
}

@media only screen and (max-width: 600px) {
  .post-container {
    max-width: 80%;
    padding: 5px;
  }

  .photo-container {
    max-height: 30rem;
  }
}
.logo {
  max-width: 5rem;
}
.logo-container {
  text-align: center;
  border: 1px solid black;
  margin-bottom: 5px;
}

/*PROFILE CSS*/
#root > div.profile-container div > h1 {
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid black;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
}

.profile-username {
  font-size: 2rem;
  margin: 5px;
}

.profile-name {
  font-size: 1rem;
  margin-bottom: 5px;
}
.follow {
  text-align: center;
}
.profile-bio {
  font-size: 0.9rem;
  text-align: center;
}

.profile-posts {
  display: grid;
  padding-bottom: 5rem;
}

.profile-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
}

.profile-post {
  max-width: 40rem;
  height: 100%;
  object-fit: cover;
  padding-bottom: 5rem;
}

.followers {
  margin-bottom: 10rem;
}

/* google login btn */

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 13rem;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url("../src/assets/google-icon.svg") transparent 5px 50%
    no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* FORM CSS  */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#gSignInWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#customBtn {
  margin: 0 auto;
  display: block;
}

.navigateBtn {
  text-align: center;
  padding-top: 10rem;
}