.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: -30px;
  left: calc(100% + 60px);
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: auto;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}
